.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.content-div {
  background-color: #f0f0f0;
  border-radius: 3px;
  text-align: left;
}

.order-response-hr {
  width: 80%;
  border-color: lightgray;
}

.login-content {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 40%;
  height: 25%;
  background-color: #ccc;
  border-radius: 3px;
}

.login-content-col {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: #ccc;*/
  /*border-radius: 3px;*/
}

.login-form {
  position: absolute;
  margin: auto;
  top: 10%;
  right: 0;
  bottom: 10%;
  left: 0;
  /*width: 100%;*/
  /*height: 50%;*/
  background-color: #ccc;
  border-radius: 3px;
}

h4 {
  font-size: 2.5vmin;
}

h5 {
  font-size: 2vmin;
}